.header {
	margin: auto;
  color: white;
  text-align: center;
  font-style: italic;
}
body{
	background-image: url(splash.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.website{
	font-size: 175%;
	list-style-type: none;
	font-style: italic;
	text-align: center;
  position: center;
}
/*home page style below*/
.register {
  width: 30%;
  margin: 50px auto 0px;
  color: black;
  background: #f1f1f1;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  opacity: 0.8;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: #f1f1f1;
  border-radius: 0px 0px 10px 10px;
  opacity: 0.8;
}
}
.input-group {
  margin: 10px 0px 10px 0px;
  opacity: 0.8;
}
.input-group label {
	color: red;
  display: block;
  text-align: left;
  margin: 3px;
  opacity: 0.8;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
  opacity: 0.8;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: black;
  background: grey;
  border: none;
  border-radius: 5px;
}
.input-field {
    width: 100%;
    border-radius: 2px;
    padding: 10px;
    border: #e0dfdf 1px solid;
    box-sizing: border-box;
    margin-top: 2px;
}
.span-field {
    font: Arial;
    font-size: small;
    text-decoration: none;
}
.errorMessage {
    background-color: #e66262;
    border: #AA4502 1px solid;
    padding: 5px 10px;
    color: #FFFFFF;
    border-radius: 3px;
}

.successMessage {
    background-color: #9fd2a1;
    border: #91bf93 1px solid;
    padding: 5px 10px;
    color: #3d503d;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
}

.info {
    font-size: .8em;
    color: #e66262;
    letter-spacing: 2px;
    padding-left: 5px;
}


